$color-text: #f1f1f1;
$color-bg: #0c0c0c;
$color-link: $color-text;
$color-link-hover: #f1f1f1;
$color-deco: #141414;
$color-side: #353535;
$color-danger: #b00020;

$font-family-base: 'Alegreya Sans', Helvetica, Arial, sans-serif;
$font-family-headings: 'Geometria', Helvetica, Arial, sans-serif;

$font-weight-bold: bold;
$font-weight-headings: 800;

$columns: 12;
$gutter: 2.5rem;

$grid-breakpoints: (
    xs: 0,
    sm: 640px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1520px,
);

$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$color-bg}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23");

$custom-checkbox-indicator-indeterminate-bg: $color-text;
$custom-checkbox-indicator-indeterminate-color: $color-bg;
$custom-checkbox-indicator-icon-indeterminate: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$color-bg}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23");
$custom-checkbox-indicator-indeterminate-box-shadow: none;
