// Body
$body-bg: #f9f9f9;

// Typography
$font-family-base: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.8375rem;
$line-height-base: 1.6;

// Colors
$dark: #1d2024;
$yellow: #ebde6e;
$primary: #f4645f;
$secondary: lighten($dark, 5%);
$success: #388E3C;
$danger: #C62828;

$link-color: $dark;
$link-hover-color: $primary;
$link-hover-decoration: none;

$dropdown-item-padding-x: 0.625rem;
$dropdown-padding-y: 0;
$dropdown-min-width: 120px;
