.gallery {
    margin-top: rem-calc(80);
}

.gallery-item {
    position: relative;
    //margin-bottom: rem-calc(80);

    &__image {
        transform: scale3d(1.01, 1.01, 1);
    }

    &__deco {
        position: absolute;
        background: $color-deco;
        width: 100%;
        margin: -30px 0 0 0;
        right: 0;
        top: -10px;
        bottom: 10px;
    }

    //&:nth-child(even) {
    //    .gallery-item__image {
    //        margin: 0 0 0 -1.85rem;
    //    }
    //}
    //
    //&:nth-child(odd) {
    //    .gallery-item__image {
    //        margin: 0 0 0 1.85rem;
    //    }
    //}
}
