.button {
  position: relative;
  padding: 0.25rem 1.5rem;
  height: rem-calc(48);
  font: bold 1.25rem/1 $font-family-headings;
  z-index: 10;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;

  &::before {
    @extend %abs;
    content: '';
    z-index: -1;
    transition: 0.35s ease-in-out;
  }

  &:hover {
    &::before {
      transform: skewX(-15deg);
    }
  }

  &--primary {
    color: $color-bg !important;

    &::before {
      background-color: $color-text;
    }
  }

  &--xl {
    font-size: 1.625rem;
    height: 4.5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
