a[href] {
    color: $color-link;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        color: darken($color-link, 15%);
    }

    &.underline {
        border-bottom: 1px solid rgba($color-link, 0.4);
        &:hover {
            border-bottom-color: rgba(darken($color-link, 15%), 0.5);
        }
    }
}
