#promo {
  position: relative;
  padding: rem-calc(160) 0;
  min-height: 100vh;

  #lights {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
  }

  > container {
    position: relative;
    z-index: 100;
  }

  &::after {
    position: absolute;
    height: 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(to top, $color-bg, rgba($color-bg, 0));
    z-index: 5;
  }
}
