.work-article {
    @extend .slide;
    width: auto;
    pointer-events: auto;
    margin-left: rem-calc(40);

    &__img {
        @extend .slide__img;
        filter: none;
    }

    &__img-wrap {
        @extend .slide__img-wrap;
    }

    &__side {
        @extend .slide__side;
    }

    &__title-wrap {
        @extend .slide__title-wrap;
    }

    &__title {
        @extend .slide__title;
    }

    &__subtitle {
        @extend .slide__subtitle;
    }

    &__number {
        @extend .slide__number;
    }
}
